*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    z-index: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.ag-middle{
    display: flex;
    position: relative;
    margin-top: 90px;
}
.ag-container{
    position: relative;
}
footer{
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom:0;
    width:100%;
    z-index: 3;
}
.ag-nav{
    display: inline-block;
    width:230px;
    position:fixed;
    left:0;
    top:0;
    height: calc( 100vh - 90px );
    background-color: black;
    z-index: 2;
    flex-direction: column;
    color:white;
}
.ag-playlist-list{
    overflow: auto;
  }
.ag-playlist{
    padding-left: 10px;
}
.ag-clearifx{
    content:"";
    display: table;
    clear:both;
}
.ag-nav h3{
    font-size:18px;
}
.ag-new-pl{
    display: inline-block;
    height:35px;
    width:35px;
    color:#000;
    background-color:#A3A3A3 ;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    margin:15px 7px 15px 0;
}
.ag-new span{
    font-size:14px;
}
.ag-top a{
    color:white;
}
.ag-upgrade{
    display:inline-block;
    border:1px solid grey;
    height:40px;
    margin-top:25px;
    margin-right:45px;
    line-height: 10px;
    padding:15px;
    border-radius: 40px;
    min-width:50px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}
.ag-upgrade:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
}
.ag-playlist-list ul li{
    font-size:12px;
    margin:15px 0;
}

.ag-music{
    width: calc(100vw - 230px);
    display: inline-block;
    background-color: #141922;
    margin-left: 230px;
    margin-bottom: 90px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height:100vh;
}
.ag-top{
    height:90px;
    width: calc(100% - 230px);
    position: fixed;
    background-color: #080B12;
    top:0;
    right:0;
    z-index:2;
    display: flex;
    justify-content: flex-end;
    color:white
}

.ag-box{
    background-color: grey;
    margin-top:20px;
    margin-bottom:20px;
}
.ag-logo-xs{
    height:90px;
}
.ag-logo-xs img{
width:50px;
margin-left:10px;
}
.ag-logo-s{
    display: inline-block;
    height:90px;
    line-height: 90px;
}
.ag-logo{
    vertical-align: middle;
    width: 125px;
    margin-left:10px;
}
.ag-links img{
    width:25px;
    vertical-align: middle;
    margin-right: 5px;;
}
.ag-links{
    margin-bottom:20px;
    line-height: 25px;
}
#ag-home{
    border-left: 2px solid #ADFF2F;
}
#ag-home, #ag-search{
    margin-bottom: 5px;
}
#ag-home, #ag-search, #ag-library{
    padding-left: 10px;
}
.ag-links a{
    color:white;
    text-decoration: none;
   
}
.ag-account-download{
    width:100%;
    position:absolute;
    bottom:0;
    
}
.ag-download{
    line-height: 30px;
    
}
.ag-account-download img{
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}
.ag-line{
    height:0;
    border-bottom: 2px solid grey;
    width:180px;
    margin:auto;
}
.ag-account-download [class*=img]{
    background-position: center;
    background-size: contain;
    height:30px;
    width: 30px;
    display: inline-block;
    margin-left:10px;
    vertical-align: middle;
}
.ag-account-download span{
    line-height: 30px;
}
.ag-download-img{
    background-image: url("../img/download.svg");
    margin-bottom:5px;
}
.ag-profile-img{
    background-image: url("../img/profile.svg");
    border-radius: 50%;
    background-color:grey;
    margin-top:5px;
    margin-bottom:5px;
}
.ag-name{
    font-weight: bold;
    font-size:16px;
}



footer{

    display:flex;

}

.ag-current-song{
    order:1;
    min-width:230px;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    color:white;
    font-size:12px;
}
.ag-song-img{
    order:1;
    height:100%;
    margin-left:10px;
    width:50px;
    padding-top:20px
}
.ag-song-img img{
    width:50px;
 
}
.ag-column{
    order:2;
    height:100%;
}
.ag-song-title{
    width:110px;
    height:50%;
    padding-left: 7px;
    padding-top:25px;
    font-size: 16px;
    font-weight: bold;
}
.ag-song-artist{
    padding-top:5px;
    padding-left: 7px;
    width:110px;
    height:50%
}
.ag-heart{
    order:4;
    height:100%;
    width:30px;
}
.ag-folder{
    order:5;
    height:100%;
    width:30px;
}
.ag-current-song i{
    font-size: 18px;
    padding-top:36px;
}

.ag-player{
width: calc(100% - 460px);
min-width: 400px;
height:100%;
order:2;
color:#D7D7D7;
}
.ag-settings{
    width:230px;
    height:100%;
    order:3;
    color:#D7D7D7;
    display: flex;
    flex-wrap: nowrap;
}
.ag-player-volume-line{
    display: inline-block;
}
.ag-backline{
    margin:auto;
    height:1px;
    border: 2px solid #5A5A5A;
    border-radius: 2px;
}
.ag-settings .ag-backline{
    width:100px;
    margin:auto;
    
}
.ag-player .ag-backline{
    width:70%;
}
.ag-frontline{
    display: flex;
    width:30%;
    height:0px;
    border: 2px solid #C1C1C1;
    border-radius: 2px;
    transform: translate(-2px, -2px);
    justify-content: flex-end;
    align-items: center;
}

.ag-ball{
    width: 15px;
    height:15px;
    border-radius: 50%;
    background-color: white;
    display: none;
    transform: translate(+10px);
}
.ag-frontline:hover .ag-ball,.ag-backline:hover .ag-ball{
    display:block;
}
.ag-frontline:hover .ag-frontline, .ag-backline:hover .ag-frontline{
    border:2px solid #ADFF2F;
}
.ag-bot-container{
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.ag-bot-container i{
    margin-right: 10px;
}
.ag-wrap70{
    width:70%;
    height:100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ag-row{
    display: block;
    width: 100%;
    height:50%;
}
.ag-buttons{
    padding-top: 20px;
    font-size: 22px;
}
.ag-buttons i~i{
    margin-left: 10px;
}
.ag-button-big{
    font-size:32px
}
.ag-row-bot{
    padding-top:10px;
}