*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    z-index: 0;
}
.ag-middle{
    display: flex;
    position: relative;
    margin-top: 70px;
}
.ag-container{
    position: relative;
}
footer{
    height: 70px;
    background-color: pink;
    position: fixed;
    bottom:0;
    width:100%;
    z-index: 3;
}
.ag-nav{
    display: inline-block;
    width:100px;
    position:fixed;
    left:0;
    top:0;
    height: calc( 100vh - 70px );
    background-color: green;
    z-index: 2;
}
.ag-playlist{
    overflow: auto;
    max-height: 200px;
}
.ag-clearifx{
    content:"";
    display: table;
    clear:both;
}
.ag-music{
    width: calc(100% - 100px);
    display: inline-block;
    background-color: yellow;
    min-height: 100px;
    margin-left: 100px;
    margin-bottom: 70px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ag-top{
    height:70px;
    width: calc(100% - 100px);
    position: fixed;
    background-color: red;
    top:0;
    right:0;
    z-index:2;
}

.ag-box{
    background-color: grey;
    
    margin-top:1%;
    margin-bottom:1%;
}
@media all and (max-width:736px){
        .ag-top{
        width: calc(100% - 60px);
    }
    .ag-music{
        margin-left:60px;
        width: calc(100% - 60px);
    }
    .ag-nav{
        width:60px;
    }
    .ag-box{
        width: calc(80vw / 2);
        height: calc(80vw / 2);
        min-width: 100px;
    }
    
}
@media all and (min-width:736px){
    
    .ag-box{
        width: calc(80vw / 2);
        height: calc(80vw / 2);
        min-width: 100px;
    }
}
@media all and (min-width:980px){
    .ag-box{
        width: calc(80vw / 4);
    height: calc(80vw / 4);
    }
}
@media all and (min-width:1280px){
    .ag-box{
        width: calc(85vw / 6);
    height: calc(85vw / 6);
    }
}
